@import "../_colors";
.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .full-section {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100%;

    .middle-section {
      .description { color: white !important; }
      .learn {
        margin-top: 10px;
        a {
          color: white;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
        }

        i {
          font-size: 24px;
          margin-left: 10px;
        }
      }
    }
  }

  .image {
    color: white;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 2em;
    max-width: 1000px;
    min-height: 250px;
    padding-bottom: 75px;
    padding-top: 75px;
    position: relative;

    .title {
      font-size: 40px;
      line-height: 40px;
      margin: .5em .5em .25em 0;
    }

    .description {
      color: $blue-text;
      font-size: 18px;
      margin: .25em .5em .5em 0;
    }

    .highlight {
      color: $blue;
    }

    .rotate {
      display: inline;
      text-indent: 8px;

      span {
        animation: topToBottom 12s linear infinite 0s;
        -ms-animation: topToBottom 12s linear infinite 0s;
        -webkit-animation: topToBottom 12s linear infinite 0s;
        font-weight: bold;
        opacity: 0;
        overflow: hidden;
        position: absolute;
      }
      span:nth-child(2){
        animation-delay: 3s;
        -ms-animation-delay: 3s;
        -webkit-animation-delay: 3s;
      }
      span:nth-child(3){
        animation-delay: 6s;
        -ms-animation-delay: 6s;
        -webkit-animation-delay: 6s;
      }
      span:nth-child(4){
        animation-delay: 9s;
        -ms-animation-delay: 9s;
        -webkit-animation-delay: 9s;
      }
    }
  }

  .contact {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      margin: 0 0 0 50px;
    }
  }
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}