.header {
  background-color: transparent;
  left: 0;
  padding: 1em 2em 1em 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  .logo {
    height: 50px;
    left: 25px;
    position: absolute;
    top: 10px;
  }
}