.header {
  align-content: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  .logo {
    height: 50px;
    margin: 0 !important;
  }

  .header-links {
    align-items: center;
    display: flex;
  }
}