.image-section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .react-parallax, .react-parallax-content {
    height: 100%;

    img {
      top: -15%;
    }
  }
}